<h1>Welcome to Mortgage Hippo Coin Machine, <%= @user.name %></h1>
  <p>
    You have successfully signed up to Mortgage Hippo Coin Machine
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>